@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Images</h2>
<p>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="images" />
            <input type="submit" value="Upload" />
}
                </ p >
    <ul style="list-style-type:none;padding:0;">
        @foreach (var item in Models){
            <li>
                <img src="@item" alt="Image here" width="100" height="100" />
                <a id="@item" href="a" onclick="deleteImages('@item');">Delete</a>
            </li>
        }
    </ul>
    <script>
            function deleteImages(item) {
                var uri = "/Home/DeleteImages";
                $.post(url,(name,item),function(data){
              window.location.href="Home/Upload";
                }
                 );
            }
    </script>